.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--header-bg);
	border-bottom: 1px solid var(--border);
	height: var(--header-height);
	width: 100%;
	top: 0;
}

.header nav {
	margin-left: 3rem;
	display: flex;
	line-height: 1.9rem;
}

.header nav > div {
	font-size: 1.9rem;
	font-weight: 500;
}

.header nav ul {
	margin: 0;
	margin-left: 4rem;
	padding: 0;
	display: flex;
	list-style: none;
}

.header nav ul li {
	margin: 0 1rem;
}

.header nav ul li a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 500;
	padding: 0.5rem;
}

.header nav ul li a.active,
.header nav ul li a:hover {
	color: var(--primary-color);
}

.headerMenu {
	margin-right: 3rem;
	position: relative;
}

.headerMenu > button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	background-repeat: round;
	border: 1px solid var(--border);
	background-color: springgreen;
}

.headerMenu > div {
	top: 42px;
	right: 0;
	position: absolute;
	background: white;
	width: 200px;
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
	z-index: 100;
}

.headerMenu > div > div {
	padding: 1rem;
}

.headerMenu > div > div:first-child {
	border-bottom: 1px solid var(--border);
}

.headerMenu > div > div > p {
	margin: 0;
	font-size: 1.3rem;
}

.headerMenu > div > div > p:first-child {
	font-weight: 500;
}

.headerMenu > div > div > p:last-child {
	margin-top: 0.5rem;
	color: var(--primary-color);
}
