.registerCard {
	max-width: 36rem;
	margin: 2rem auto;
}

.registerCard > div > button {
	width: 100%;
}

.registerCard form {
	display: grid;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.registerCard form > div:first-child {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
}

.registerCard > div > a {
	display: block;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.registerCard {
		max-width: 24rem;
	}

	.registerCard form > div:first-child {
		grid-template-columns: repeat(1, 1fr);
	}
}
